@import 'vars'

input
  background: $grey2
  outline: none
  color: $text-grey
  border: 1px solid $light-grey
  border-radius: 3px
  padding: 14px 18px
  width: 400px

button
  background: $blue2
  border: 1px solid darken($blue2, 10%)
  border-radius: 3px
  padding: 12px 18px
  color: white
  &:hover
    cursor: pointer
    background: darken($blue2, 5%)
