@import '../../style/vars'
@import '../../style/common'

.profile
  display: flex
  flex-direction: column
  width: 60%
  margin: 20px auto
  color: $text-grey
  text-align: center
  @media (max-width: 768px)
    width: 96%
    margin-left: 2%
  .username, .position, .total_points
    font-family: 'Source Sans Pro' 
    font-weight: 700
    font-size: 2.6em
  .username
    margin-top: 24px
  .position
    font-size: 1.8em
    font-weight: 400
    .eligible
      color: lighten($light-grey, 20%)
      font-size: 20px
      margin-left: 8px
  .total_points
    font-size: 1.8em
    font-weight: 400
    margin-bottom: 24px
